<%- include('../partials/head') %>

  <body class="bg-gray-100 flex justify-center items-center min-h-screen">
    <%- include('../partials/nav') %>
      <div class="bg-white shadow-lg rounded-3xl p-8 w-full max-w-md">
        <header class="text-center font-bold text-3xl text-gray-700 mb-6">
          <h1>
            <%= editing ? "Edit" :"Register" %> Your Home
          </h1>
        </header>
        <main>
          <form action="/host/<%=editing ?'editHome':'add-home' %>" method="post" class="flex flex-col space-y-4">
            <input type="hidden" name="id" value="<%=editing ? home.id:'' %>">
            <input
              class="border-2 rounded-lg p-3 bg-gray-50 focus:ring-2 focus:ring-indigo-400 outline-none"
              type="text" 
              name="houseName" 
              placeholder="Enter your house name" 
              value="<%=editing ? home.houseName:'' %>"
              required
              >
            <input 
              class="border-2 rounded-lg p-3 bg-gray-50 focus:ring-2 focus:ring-indigo-400 outline-none"
              type="text" 
              name="price" 
              placeholder="Price per night" 
              value="<%=editing?home.price:'' %>"
              required
              >
            <input 
              class="border-2 rounded-lg p-3 bg-gray-50 focus:ring-2 focus:ring-indigo-400 outline-none"
              type="text" 
              name="location" 
              placeholder="Enter house location" 
              value="<%=editing?home.location:'' %>"
              required
              >
            <input 
              class="border-2 rounded-lg p-3 bg-gray-50 focus:ring-2 focus:ring-indigo-400 outline-none"
              type="text" 
              name="rating" 
              placeholder="enter rating "
              value="<%=editing?home.rating:'' %>"
              >
            <input 
              class="border-2 rounded-lg p-3 bg-gray-50 focus:ring-2 focus:ring-indigo-400 outline-none"
              type="text" 
              name="photoUrl" 
              placeholder="enter photoUrl "
              value="<%=editing?home.photoUrl:'' %>"
              >
            <input 
              class="border-2 rounded-lg p-3 bg-gray-50 focus:ring-2 focus:ring-indigo-400 outline-none"
              type="text" 
              name="description" 
              placeholder="enter house detail's... "
              value="<%=editing?home.description:'' %>"
              >
           
            <button class="bg-indigo-600 text-white rounded-lg p-3 font-semibold hover:bg-indigo-700 transition-all"
              type="submit">
              <%= editing ? 'Update Home' :'Add Home' %>
            </button>
          </form>
        </main>
      </div>
  </body>

  </html>