<nav class="bg-amber-900 fixed top-0 w-full z-50 shadow-md">
  <div class="flex justify-between items-center p-4">
    <a href="/">
      <img
        class="w-15 h-15 rounded-4xl"
        src="../images/homeLogo.jpg"
        alt="ðŸ  Home Rental"
      />
    </a>
    <div class="mr-10 flex gap-10">
      <% if(isLoggedIn){ %> 
        <% if(user && user.userType==='guest'){ %>
      <a
        class="ml-4 border-2 rounded-md px-4 py-2 bg-amber-500 text-white font-medium <%= currentPage==='homes'?'bg-red-500': 'hover:bg-red-500 transition-all' %>"
        href="/homes"
      >
        Home
      </a>

      <a
        class="ml-4 border-2 rounded-md px-4 py-2 bg-amber-600 text-white font-medium border-blue-600 <%= currentPage==='favourite'?'bg-red-500': 'hover:bg-red-500 transition-all' %>"
        href="/favourite"
      >
        Favourite
      </a>
      <a
        class="ml-4 border-2 rounded-md px-4 py-2 bg-amber-600 text-white font-medium border-blue-600 <%= currentPage==='booking'?'bg-red-500': 'hover:bg-red-500 transition-all' %>"
        href="/booking"
      >
        Booking
      </a>
      <% } else {%>
      <a
        class="ml-4 border-2 rounded-md px-4 py-2 bg-amber-600 text-white font-medium border-blue-600 <%= currentPage==='hostHome'?'bg-red-500': 'hover:bg-red-500 transition-all' %>"
        href="/host/host-homes"
      >
        Host Homes
      </a>
      <a
        class="ml-4 border-2 rounded-md px-4 py-2 bg-amber-600 text-white font-medium border-blue-600 <%= currentPage==='addHome'?'bg-red-500': 'hover:bg-red-500 transition-all' %>"
        href="/host/add-home"
      >
        Add Home
      </a>
      <% } %> 
      <% } %>
      
       <% if(!isLoggedIn){ %>
      <a
        class="ml-4 border-2 rounded-md px-4 py-2 bg-amber-600 text-white font-medium border-blue-600 <%= currentPage==='login'?'bg-red-500': 'hover:bg-red-500 transition-all' %>"
        href="/login"
      >
        Login
      </a>
      <a
        class="ml-4 border-2 rounded-md px-4 py-2 bg-amber-600 text-white font-medium border-blue-600 <%= currentPage==='signup'?'bg-red-500': 'hover:bg-red-500 transition-all' %>"
        href="/signup"
      >
        Sign Up
      </a>
      <% }else{ %>
      <form action="/logout" method="POST">
        <button
          class="ml-4 border-2 rounded-md px-4 py-2 bg-amber-600 text-white font-medium border-blue-600 hover:bg-red-500 transition-all"
          type="submit"
        >
          Logout
        </button>
      </form>
      <% } %>
    </div>
  </div>
</nav>
